/** Add css rules here for your application. */

/** Example rules used by the template application (remove for your app) */
body {
    font-family: sans-serif;
    background: #525252;
    margin: 0;
    padding: 0;
    font-family:'Comfortaa', cursive;;
}
h1 {
    font-size: 2em;
    font-weight: bold;
    //color: #777777;
    color: #3A3A3A;
    margin: 40px 0px 70px;
    text-align: center;
}



.sendButton {
    display: block;
    font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
    width: 400px;
}

.dialogVPanel {
    margin: 5px;
}

.serverResponseLabelError {
    color: red;
}

header {
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    background: black;
}

header ul {
    text-transform: uppercase;
    margin: 0 10px;
    padding: 10px;
    width: 100%;
    list-style: none;
}

header ul:after {
    clear: both;
    content: '';
    display: block;
}

header li {
    margin: 0 40px;
    float: right;
    width: 19%;
    text-decoration: none;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

header li:hover {
    background: #464646;
}
#logo {
    font-family:'Abril Fatface', cursive;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
    margin: 15px 6px 6px;
}
